
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans&display=swap');
body{
font-family: 'Work Sans', sans-serif;
}


/*this is nav section*/

.nav-contact-container{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  
}

.nav-container{
  min-height: 50px;
  display: flex;
  align-items: center;
  min-height: 500%;
  max-width: 1400px;
  margin: 35px auto;
}

.logo-contianer{
  display: flex;
  width: 50%;
 
}
.logo-contianer img{
  width: 60px;
  margin-right: 20px;
  
}
.logo-contianer p{
  color: #0B0223;
font-size: 2.8rem;
font-weight: 700;

  
}
.logo-title{
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.nav-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  
}
.nav-title-container a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #3C354F;
}
.nav-title-container .follow-btn{

  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 15px 20px;
 
}

.follow-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.follow-btn .fa-tiktok{
  background-image: linear-gradient(to top ,
  #000000,#F00044);
  color: transparent;
  -webkit-background-clip: text ;
}



/*end of nev section*/


/*this is banner section*/


.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 0;
  max-width: 1400px;
  min-width: 50px;
  background-color: #FFF;
  padding: 10px;
}
.banner-title{
  width: 50%;
  text-align: center;
  background-image: url(./last-b.png);
}
.banner-title h3{
  color: #0B0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title h1{
  font-size: 5.9rem;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}
.banner-img{
  width: 50%;
}
.banner-img img{
  width: 100%;
  height: auto;
}
.logo-info{
  color: #534C64;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;

}
.btn{
  border-radius: 48px;
  background: #FF42A5;
  padding: 20px 35px;
  border: 0;
  color: #FFF;
  font-size: 1rem;
  

}
.btn-primary{
  border-radius: 48px;
  background: #4EC5F7;
  padding: 20px 35px;
  border: 0;
  color: #FFF;
  font-size: 1rem;
}


/*end of banner section*/

/*nev section meadia */
@media screen and (max-width:576px){
  .nav-container{
  flex-direction: column;
  }
  .nav-title-container{
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .follow-btn{
    margin: 20px;

  }
}
/*end nev section meadia */


/*The header banner section*/
@media screen and (max-width:576px){
  .banner-container{
 flex-direction: column;
  }
  .banner-title{
    width: 100%;
  
  }
  .banner-title h3{
    
    font-size: 2rem;
    
  }
  .banner-title h1{
    font-size: 4.1rem;
  
  }
  .banner-img{
    width: 100%;
  }
  .logo-info{
    font-size: 1rem;
    padding: 5px;
  }
  .btn, .btn-primary{
    padding: 10px 20px;
  }
}

